.save-btn {
    padding: 10px;
    background-color: #007bff; /* Primary blue button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .save-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  .back-button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #17a2b8;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
  }
  
  .back-button:hover {
    background-color: #138496;
  }
  